.login {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/f80f1f11-e970-4c38-98f6-26cf0d12a610/FR-en-20211115-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
  background-size: cover;
}

.login__logo {
  position: fixed;
  left: 0;
  object-fit: contain;
  width: 150px;
}

.login__button {
  position: fixed;
  right: 1.25rem;
  top: 1.25rem;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e50914;
  font-weight: 600;
  color: #fff;
}

.login__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 1.25rem;
    left: 0;
    right: 0;
}

.login__body > h1{
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}

.login__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
}

.login__body > h3{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.login__input{
    padding: 0.625rem;
    outline-width: 0;
    height: 3.125rem;
    width: 30%;
    max-width: 37.5rem;
    border: none;
}

.login__getstarted{
    font-size: 1rem;
    padding: 1rem 1.25rem;
    background-color: #e50914;
    color: #fff;
    font-weight: 600;
}
