.profile {
  height: 100vh;
  color: #fff;
}

.profile__body {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 8%;
  max-width: 800px;
}

.profile__info {
  display: flex;
}

.profile__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profile__details > h2 {
  background-color: gray;
  padding: 5px;
  font-size: 15px;
  margin-left: 20px;
}

.profile__content{
    margin-top: 20px;
}

.profile__content > h3 {
    border-bottom: 1px solid #282c2d;
    margin-left: 20px;
    padding-bottom: 10px;
  }

.profile__signout{
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
}

.profile__info > img {
  height: 100px;
}
